/* Base variant - Applies to all buttons */
.button-component[class^='Button_button-variant-'],
.button-component[class*=' Button_button-variant-'] {
  border-radius: 50em;
  box-sizing: border-box;
  color: white;
  font-weight: 800;
  display: inline-block;
  transition: all linear 0.2s;
  padding: 0.45em 1.7em;
}

.button-component[class^='Button_button-variant-']:hover,
.button-component[class*=' Button_button-variant-']:hover {
  color: white;
}

/* Variant for different sizes */
.btn-sm {
  font-size: 0.8em;
}

.btn-md {
  font-size: 1em;
}

.btn-lg {
  font-size: 1.5em;
}

/* Variant "primary" */
.button-component.button-variant-primary {
  background-color: var(--primary-color-dark);
}

.button-component.button-variant-primary:hover {
  background-color: #3c89ba;
}

/* Variant "primary-outline" */
.button-component.button-variant-primary-outline {
  border: 0.1em solid var(--primary-color-dark);
  color: var(--primary-color-dark);
  font-weight: 600;
}

.button-component.button-variant-primary-outline:hover {
  background-color: var(--primary-color-dark);
  color: white;
}

/* Variant "dark" */
.button-component.button-variant-dark {
  background-color: var(--bg-color-dark);
}

.button-component.button-variant-dark:hover {
  background-color: rgb(91, 91, 103);
}
