/* Google Fonts imported with @next/font in _app.js
 * Usage:
 * --font-primary   = Fira Sans
 * --font-secondary = Work Sans 
*/

/* Inject Tailwind's styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
#docs-root {
  /* Variables for handling colors */
  /* Primary color */
  --primary-color-hue: 203;
  --primary-color-saturation: 71%;
  --primary-color-lightness: 60%;

  /* Dark color */
  --dark-color-hue: 0;
  --dark-color-saturation: 0%;
  --dark-color-lightness: 13%;

  /* Change on hover */
  --hover-modifier: 15%;

  /* Color palette */
  --primary-color: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    var(--primary-color-lightness)
  );

  --primary-hover-color: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) - var(--hover-modifier))
  );

  --dark-color: hsl(
    var(--dark-color-hue),
    var(--dark-color-saturation),
    var(--dark-color-lightness)
  );

  --dark-hover-color: hsl(
    var(--dark-color-hue),
    var(--dark-color-saturation),
    calc(var(--dark-color-lightness) + var(--hover-modifier))
  );

  --light-color: #fff;

  /* Font colors */
  --dark-font-color: hsl(0, 0%, 13%);
  --dark-font-hover-color: var(--primary-color-800);
  --light-font-color: #fff;
  --light-font-hover-color: var(--primary-color-300);

  /* Graded primary palette */
  --primary-color-900: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) * 0.6)
  );
  --primary-color-800: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) * 0.7)
  );
  --primary-color-700: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) * 0.8)
  );
  --primary-color-600: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) * 0.9)
  );
  --primary-color-500: var(--primary-color);
  --primary-color-400: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) * 1.1)
  );
  --primary-color-300: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) * 1.2)
  );
  --primary-color-200: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) * 1.3)
  );
  --primary-color-100: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) * 1.4)
  );
  --primary-color-50: hsl(
    var(--primary-color-hue),
    var(--primary-color-saturation),
    calc(var(--primary-color-lightness) * 1.5)
  );
}

body {
  font-family: var(--font-primary), sans-serif;
  background-color: var(--light-color);
  color: var(--dark-font-color);
}

a:hover {
  color: var(--light-font-hover-color);
}

/* .dark a:hover {
  color: var(--dark-font-hover-color);
} */
