/* Google Fonts imported with @next/font in _app.js
 * Usage:
 * --font-primary   = Fira Sans
 * --font-secondary = Work Sans 
*/

/* Inject Tailwind's styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Variables */
:root {
  --primary-color-light: #2d688d;
  --primary-color-dark: #4ba7e1;
  --bg-color-dark: #202020;
}

body {
  font-family: var(--font-primary), sans-serif;
}

.text-primary-light,
a:hover {
  color: var(--primary-color-light);
}

.text-primary-dark,
.dark a:hover {
  color: var(--primary-color-dark);
}

.bg-primary-light {
  background-color: var(--primary-color-light);
}

.bg-primary-dark {
  background-color: var(--primary-color-dark);
}

.bg-dark-button {
  background-color: var(--bg-color-dark);
}
