.wrapper {
  --side-margin: 5rem;
}

.shape-wrapper {
  position: relative;
  margin-left: var(--side-margin);
}

.circle {
  --size: 1em;
  border-radius: 50%;
  position: absolute;
  left: calc(-0.5 * var(--size));
  height: var(--size);
  width: var(--size);
}

.line {
  height: 0.2em;
  width: 100%;
}

/* Styles when the text placement is inverted */
.invert .text {
  order: 2;
}

.invert .shape-wrapper {
  margin-left: 0;
  margin-right: var(--side-margin);
}

.invert .circle {
  left: auto;
  right: calc(-0.5 * var(--size));
}
