/* TopNavigation.module.css */

#top-nav {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.nav-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  height: 138px;
  font-size: 1.25em;
  font-weight: 500;
  max-width: 1500px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-text-links,
.nav-icon-links {
  display: flex;
  list-style-type: none;
}

.nav-text-links {
  margin-right: 50px;
}

.nav-text-links a {
  font-weight: 500;
  padding: 0.7em;
}

.nav-icon-links {
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.nav-icon-links a {
  padding: 12px;
}

.nav-link {
  margin: 0 8px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  color: #666;
}
